body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer,
header {
    background-color: #1F2937;
    display: flex;
    padding: 10px 0;
}

header {
    justify-content: space-around;
    align-items: center;
}

header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

header .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

header .links a {
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#hero,
#info,
#quote,
#sign-up {
    display: flex;
    flex: 1;
    width: 100vw;

}

#hero {   
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
}

#info {
    background-color: #F9FAF8;
    color: black;
    font-size: 48px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

#quote {
    background-color: #E5E7EB;
    color: black;
    font-size: 48px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

#sign-up {
    background-color: #F9FAF8;
    color: black;
    font-size: 48px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

#hero button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
}

#hero .placeholder {
    background-color: gray;
    color: #E5E7EB;
    padding: 100px;
}

#hero .text {
    width: 400px;
}