body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer,
header {
    background-color: #1F2937;
    display: flex;
    padding: 30px 0;
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

header .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

header .links a {
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#hero,
#info,
#quote,
#sign-up {
    display: flex;
    flex: 1;
    width: 100vw;

}

#hero {
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
}

#hero button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
}

#hero .placeholder {
    background-color: gray;
    color: #E5E7EB;
    padding: 100px;
}

#hero .text {
    width: 400px;
    margin: 100px 0;
}

#info {
    background-color: #F9FAF8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info .text {
    color: black;
    font-size: 36px;
    font-weight: 900;
    margin: 40px;
}

#info .images {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

#info .images .image {
    text-align: center;
    height: 250px;
    width: 160px;
}

#info .images .blank {
    background-color: #F9FAF8;
    border: 4px solid #3882F6;
    border-radius: 10px;
    padding: 75px;
    margin-bottom: 5px;
}

#quote {
    padding: 50px 0;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote p {
    width: 50vw;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

#quote .author {
    width: 40vw;
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

#sign-up {
    background-color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.sign-up-card {
    background-color: #3882F6;
    width: 60vw;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    border-radius: 10px;
}

.sign-up-card button {
    background-color: #3882F6;
    border: solid #F9FAF8;
    border-radius: 5px;
    border-width: 2px;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.white-bold {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.grey-light {
    color: #E5E7EB;
    font-weight: 400;
}